<html>
   <body>
      <table border = 1>
          <tr>
            <td><form action = "http://192.168.1.254/exhibitspanel" method = "POST"><br>
               &nbsp;<input type = "submit" name = "button_allon" value = "All Exhibits Power On" />&nbsp;
               <input type = "submit" name = "button_alloff" onclick="return confirm('You are about to shut off all exhibits in the building. Are you sure?')" value = "All Exhibits Power Off" />&nbsp;
            </form></td>

            <td>
            &nbsp;<a href="/exhibitspanel/addnewexhibit"> Add Exhibit </a><br><br>
            &nbsp;<a href="/exhibitspanel/deleteexhibit"> Delete Exhibit </a>&nbsp;
           </td>
          </tr>
          <tr>
            <td>
            &nbsp;<a href="/exhibitspanel/byfloorroom">Turn On/Off Per Floor/Room </a>&nbsp;&nbsp;
           </td>
          <tr>

          </tr>



         {% for i in range(0, num_exhibits) %}
            <tr>
               <td>&nbsp;{{ exhibit[i]["name"] }} </td>

            <td><form action = "http://192.168.1.254/exhibitspanel" method = "POST"><br>
               &nbsp;<input type = "submit" name = "button_poweron{{ i }}" value = "Power On" /><br><br>
	       &nbsp;<input type = "submit" name = "button_poweroff{{ i }}" value = "Power Off" /><br><br>
	       &nbsp;<input type = "submit" name = "button_reset{{ i }}" value = "Reset Exhibit" /><br><br>
	       &nbsp;<input type = "submit" name = "button_ota{{ i }}" value = "OTA Start" />
            </form></td>
          </tr>
         {% endfor %}

      </table>
   </body>
</html>
